clams-container{
	z-index: 1;
	overflow: scroll;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
clam-card{
	width: 30%;
	height: auto;
	margin: 20px;
	border-radius: 10px;
    display: inline-block;
	background: white;
	max-width: 400px;
    min-width: 300px;
}
.card_inner{
	padding: 30px 20px;
	display: flex;
	flex-wrap: wrap;

}
@media screen and (min-width: 500px){
	.card_inner{
		flex-wrap: nowrap;

	}
}
.card_photo{
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 500px){
	.card_photo{
		width: 40%;
		height: 200px;
		
	}
}
.card_content{
	display: flex;
	margin-left: 20px;
	flex-direction: column;
}
.name {
	font-family: "Permanent Marker", serif;
	font-size: 32px;
}